#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 1000000 !important;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px #00000013;
    min-width: 400px;
    max-width: 450px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__background {
    height: 4px;
    background-color: #47d864;
    animation: background_time 3s linear;
    position: absolute;
    bottom: 0;
}

@keyframes background_time {
    0% {
        width: 100%;
    }

    10% {
        width: 90%;
    }

    20% {
        width: 80%;
    }

    30% {
        width: 70%;
    }

    40% {
        width: 60%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 40%;
    }

    70% {
        width: 30%;
    }

    80% {
        width: 20%;
    }

    90% {
        width: 10%;
    }

    100% {
        width: 0;
    }
}

.toast--success {
    border-color: #47d864;


}

.toast--success .toast_icon {
    color: #47d864;

}

.toast_body {
    flex-grow: 1;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast_icon {
    color: #ffc021;
}

.toast--errol {
    border-color: #ff623d;
}

.toast--errol .toast_icon {
    color: #ff623d;
}

.toast_icon {
    font-size: 24px;

}

.toast_icon,
.toast_close {
    padding: 0 16px;

}

.toast_close {
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.toast_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;

}

.toast_msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}

.toast+.toast {
    margin-top: 24px;
}