@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;

  --primary-color: #044785;
  --secondary-color: #fff;

  --header-height: 50px;

  --width-left-menu: 250px;

  --table-height: 30px;
  --table-title-font-size: 14px;
  --table-paragraph-font-size: 14px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

select,
input,
textarea,
button {
  font-family: inherit;
  color: inherit;
}

/* <===== Side Bar =====> */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width-left-menu);
  height: 100%;
  background: var(--primary-color);
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
/* .sidebar::--webkit-scrollbar {
  display: none;
} */
.sidebar.hide {
  width: 60px;
}
.sidebar__brand {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 600;
  box-sizing: content-box;
  padding-bottom: 48px;
}
.sidebar__brand .icon {
  display: flex;
  justify-content: center;
  min-width: 60px;
}
.sidebar__menu {
  width: 100%;
}
.sidebar__item {
  height: 50px;
  background: transparent;
  padding: 4px;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  font-weight: 600;
}
.sidebar__item.active {
  position: relative;
  /* background: var(--pink3); */
  background: #fff;
}
.sidebar__item.active::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 20px 20px 0 var(--secondary-color);
}
.sidebar__item.active::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 20px -20px 0 var(--secondary-color);
}
.sidebar__menu.top li.active a {
  color: var(--secondary-color);
  /* color: var(--primary-color); */
}
.sidebar__action {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 48px;
  color: var(--secondary-color);
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar.hide .sidebar__action {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
.sidebar__action .icon {
  display: flex;
  justify-content: center;
  min-width: calc(60px - ((4px + 6px) * 2));
}
.sidebar__action .icon.last {
  margin-left: auto;
}

.sidebar__item.dashboard-item {
  display: none;
}
.sidebar__item.dashboard-item .sidebar__action {
  font-size: 14px;
}

/* <===== Main =====> */
.main {
  position: relative;
  left: var(--width-left-menu);
  width: calc(100% - var(--width-left-menu));
  transition: 0.3s ease;
}
.sidebar.hide ~ .main {
  width: calc(100% - 60px);
  left: 60px;
}

/* <=== Main Line ===> */
.main__line {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  height: var(--header-height);
  width: 100%;
  background: var(--primary-color);
  padding: 0 10px;
}
.main__line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--header-height));
  z-index: -1;
  width: var(--header-height);
  height: var(--header-height);
  border-radius: 50%;
  box-shadow: calc(-1 * var(--header-height) / 2)
    calc(-1 * var(--header-height) / 2) 0 var(--primary-color);
}
.main__line .icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.main__line .icon:nth-of-type(2) {
  margin-left: auto;
}

/* <=== Main Content ===> */
.main__content {
  position: relative;
}
/* <= Main Title => */
.main__title {
  height: 72px;
  width: calc(100% - 60px);
  margin-left: 30px;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}
/* <= Main Row => */
.main__row {
  display: flex;
  align-items: center;
  gap: 0 15px;
  width: calc(100% - 60px);
  margin: 30px 0 0 30px;
}
.main__row > div {
  width: calc(100% / 5 - 12px);
}
/* .main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.main__row > .main__select ul {
  max-height: 210px;
  overflow-y: scroll;
  z-index: 999;
}
.main__row + .main__row {
  margin-top: 40px;
}
.main__filter-btn,
.main__see-btn {
  width: 10%;
  height: 30px;
  background: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main__filter-btn:hover,
.main__see-btn:hover {
  background: #fff;
  color: #007bff;
}
.main__add-btn,
.main__print-btn {
  width: 10%;
  height: 30px;
  background: #699f4c;
  border: 2px solid #699f4c;
  margin-left: auto;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.main__print-btn {
  width: 15%;
}

.main__add-btn:hover,
.main__add-btn.active,
.main__print-btn:hover,
.main__print-btn.active {
  background: #fff;
  color: #699f4c;
}
.main__refresh-btn {
  width: 70px;
  height: 30px;
  background: #f44336;
  border: 2px solid #f44336;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main__refresh-btn:hover {
  background: #fff;
  color: #f44336;
}
.main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}
.main__buttons button {
  width: 50%;
}
/* <= Main Data => */
.main__data {
  width: calc(100% - 60px);
  margin: 15px 0 0 30px;
  min-height: 520px;
}
.main__data:has(.main__table.order) {
  min-height: 432px;
}
.main__table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.main__table th {
  /* background-color: #303234; */
  background: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
}
.main__table th,
.main__table td {
  height: var(--table-height);
  font-size: var(--table-paragraph-font-size);
  text-align: center;
  padding: 4px 6px;
  line-height: var(--table-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .main__table.order td {
  height: calc(var(--table-height) * 2);
} */
.main__table.book td {
  height: calc(var(--table-height) * 3);
}
.main__table th {
  font-size: var(--table-title-font-size);
}
.main__table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.main__table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.main__table tbody td > span:is(.green, .red) {
  color: #3dc55d;
  padding: 4px 6px;
  border-radius: 4px;
}
.main__table tbody td > span.purple {
  color: #5d3fd3;
}
.main__table tbody td > span.orange {
  color: #d3873f;
}
.main__table tbody td > span.yellow {
  color: #ffdf4e;
}
.main__table tbody td > span.gray {
  color: #777777;
}
.main__table tbody td > span.red {
  color: #f44336;
}
.main__table tbody td:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 14px;
  font-size: var(--table-paragraph-font-size);
  transition: 0.2s ease-in-out;
}
.main__table tbody td:last-of-type i:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.main__table tbody td:last-of-type i.active {
  color: var(--primary-color);
}
.main__table tfoot td:first-of-type {
  background: #3597f2;
  color: #fff;
  font-size: var(--table-title-font-size);
  font-weight: 700;
}
.main__table tfoot tr {
  /* border-top: 2px solid var(--primary-color); */
  border-bottom: 1px solid #dddddd;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.main__total-text {
  margin-top: 6px;
  font-size: 16px;
  text-align: right;
}
.main__total-text span {
  font-style: italic;
}
.main__total-text strong {
  font-weight: bold;
}
.main__table.dashboard th,
.main__table.dashboard td {
  border: 1px solid #000;
}
.main__table.dashboard th {
  border-color: var(--primary-color);
}
.main__table:where(.profit_dashboard, .revenue_dashboard, .invest_dashboard)
  td:last-of-type {
  display: table-cell !important;
  text-align: right;
}
/* <= Main Pagination => */
.main__pagination {
  /* position: absolute;
  bottom: 0; */
  /* top: 200px;
  left: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 14px;
  width: calc(100% - 60px);
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
  /* background: red; */
}
.main-pagination__button {
  width: 30px;
  height: 30px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 999px;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main-pagination__button.active,
.main-pagination__button:not(.previous, .next):hover {
  background: var(--primary-color);
  color: #fff;
}
.main-pagination__button.previous:hover,
.main-pagination__button.next:hover {
  color: var(--primary-color);
}

/* @media screen and (max-width: 500px) {
  .container-notification p {
    font-size: 1.2rem;
  }
  .nav-link {
    display: none;
  }
  .content-product-list table th {
    display: none;
  }

  .content-product-list table td {
    display: flex;
    text-align: left;
  }
  .content-product-list table td::before {
    font-weight: 600;
    width: 100px;
  }
  .content-product-list table td:first-child {
    margin-top: 50px;
  }
  .content-product-list table td:nth-of-type(1) img {
    width: 100px;
  }
  .content-product-list table td:nth-of-type(2)::before {
    content: "Mã";
    font-weight: 600;
  }
  .content-product-list table td:nth-of-type(3)::before {
    content: "Tên";
    font-weight: 600;
  }

  .content-product-list table td:nth-of-type(4)::before {
    content: "Thương hiệu";
    font-weight: 600;
  }

  .content-product-list table td:nth-of-type(5)::before {
    content: "Loại";
    font-weight: 600;
  }
  .content-product-list table td:nth-of-type(6)::before {
    content: "Giá";
    font-weight: 600;
  }
  .content-product-list table td:nth-of-type(7)::before {
    content: "Số Lượng";
    font-weight: 600;
  }

  .content-product-list table td:nth-of-type(8)::before {
    content: "Tuỳ chỉnh";
    font-weight: 600;
  }
} */
