@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


section {
    padding: 0 77px;
}

html {
    font-size: 62.5%;
}


header {
    padding: 0rem 7.7rem;
}

header h1 {
    font-size: 24px;
    letter-spacing: -2px;
    cursor: pointer;
}


.home {
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home img {
    width: 100%;
}

.home .content {
    flex: 1 1 60rem;
}


.home .content h1 {
    font-family: 'Space Mono', monospace;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    padding-bottom: 1rem;
    color: #333333;
}

.home .content p {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Space Mono', monospace;
    line-height: 36px;
    letter-spacing: -0.035em;
    padding-bottom: 5rem;
    max-width: 50rem;
    color: #4F4F4F;
}

.home .content a {
    padding: 2rem 3rem;
    background-color: #333333;
    color: #fff;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    transition: 0.2s;
}

.home .content a:hover {
    background-color: #4F4F4F;
    text-decoration: none;
}


/* Media Queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {

    .home .content h1 {
        font-size: 48px;
        line-height: 71px;
        padding-bottom: 2rem;
    }

    .home .content p {
        font-size: 18px;
        line-height: 27px;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .content h1 {
        font-size: 40px;
        line-height: 55px;
        padding-bottom: 2rem;
    }

    .home .content p {
        font-size: 18px;
        line-height: 27px;
    }

    .home .content a {
        margin-bottom: 5rem;
    }

    section {
        padding: 0 1.5rem;
    }

}


.page-not-found {
    margin: 50px 0;
    padding: 0 20px;
}



.topbar {
    padding: 1rem 0;
    color: white;
    background-color: #044785;
}

.topbar .topbar__auth {
    position: relative;
}

.topbar__container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.topbar__contact {
    width: 100%;
    display: flex;
}

.topbar__contact-item {
    margin-right: 2.5rem;
}
/* -------------------------------------------------------------------------------- */

.header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1.5rem 0;
    position: sticky;
    z-index: 4;
    top: 0;
    background-color: white;
}

.header__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 20%;
    img {
        width: 100%;
    }
}
/* -------------------------------------------------------------------------------- */


.footer {
    margin-top: 5rem;
    background-color: #044785;
    color: white;
}

.footer__top,
.footer__bottom {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer__top-container,
.footer__bottom-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 35px 0 0 0;
}

.footer__top-container img {
    width: 5rem;
}

.footer__top-item>h3 {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.footer__top-item>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__top-item>ul>li {
    cursor: pointer;
    width: fit-content;
    transition: all 0.15s ease;
}

.footer__top-item>ul>li:hover {
    color: #3498db;
}

.footer__payment-image-container {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

.footer__top-item:nth-child(3)>h3 {
    padding-left: 1rem;
}

.footer__payment-image-container>img {
    width: 10rem;
}

.footer__payment-image-container-two {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.footer__payment-image-container-two>img {
    width: 230px;
}

.footer__payment-image-container-three {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.footer__payment-image-container-three>img {
    width: 20rem;
}

.footer__bottom-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}